/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-accordion-control  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.accord-group {
  border: 1px solid #dedede;
  background: $white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
}

.accord-item-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid $gray;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
}

.accord-item-heading {
  display: block;
  background: #1e6abc;
  color: $white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
  font-size: 14px;

  &:hover {
    color: $white;
  }
}

.accord-content {
  background: #dedede;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  padding: 1rem;
  font-size: 14px;
}

/* Font end */

.wp-block-emfl-accordion-group {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  margin: 0 auto;

  .emfl-accord-item {

    .emfl-item-heading {
      cursor: pointer;
      margin-top: .75rem;

      a {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 84%;
        background: #303030;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: .65rem;
        color: $white;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;

        &:hover, &.accord-active {
          background: #2ea2cc !important;
        }

        &:before {
          font-family: "FontAwesome";
          content: "\f0da";
          color: $white;
          padding: 0 .6rem;
        }
      }
    }

    .emfl-item-content {
      display: none;
      font-size: 84%;
      width: 100%;
      padding: 1rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid $gray;
      border-top: 0;
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;

      figure {
        margin: 0 auto !important;
        padding: 0;

        img {
          width: 100%;
          margin: 1rem auto;
          -webkit-border-radius: .5rem;
          -moz-border-radius: .5rem;
          border-radius: .5rem;
          border: 1px solid $gray;
        }
      }

      p, ul, ul li, ul li a {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 0;
          padding: 0;
          list-style: none;

          &:before {
            font-family: "FontAwesome";
            content: "\f0da";
            color: #656565;
            padding: 0 .6rem;
          }
        }
      }
    }
  }
}
